<div class="navbar">
	<div class="heading">Snake</div>
	<div class="score">
		<p>Score: {{score}}</p>
		<p>High Score: {{highscore}}</p>
	</div>
	<div class="play-btn" (click)="newGame()"><span class="material-icons-round">play_arrow</span></div>
</div>
<div class="container">
	<div class="snake-container">
		<div class="row" *ngFor="let column of board; let i = index;">
			<div class="column" *ngFor="let row of column; let j = index;" [ngStyle]="{'background-color': setColors(i, j)}">
			</div>
		</div>
	</div>
</div>
<div class="controller">
	<div class="arrow arrow-up" (click)="navigateSnake('ArrowUp')">
		<span class="material-icons-round">arrow_upward</span>
	</div>
	<div class="arrow arrow-left" (click)="navigateSnake('ArrowLeft')">
		<span class="material-icons-round">arrow_backward</span>
	</div>
	<div class="arrow arrow-down" (click)="navigateSnake('ArrowDown')">
		<span class="material-icons-round">arrow_downward</span>
	</div>
	<div class="arrow arrow-right" (click)="navigateSnake('ArrowRight')">
		<span class="material-icons-round">arrow_forward</span>
	</div>
</div>